@use "../shared/styles/_variables.scss" as *;



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {
    --color-text: #000000;
    --color-bg: #FFC0763B;
    --color-surface: #ffffff;
}

[data-theme="dark"] {
    --color-text: #ffffff;
    --color-bg: #181818;
    --color-surface: #232323;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text);
    background-color: var(--color-bg);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}