@use "../../../../styles/_variables.scss" as *;


.container {
    width: 100%;
    max-width: 1024px;
    margin: 100 auto;

    @media (max-width: 1024px) {
        max-width: 90vw;
        margin: 15px ;
    }
    @media (max-width: 768px) {
        padding: 0 8px;
        margin: 15px ;
    }
    @media (max-width: 375px) {
        padding: 0 2px;
        margin: 15px ;
        
    }
}

.step {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    padding: 0;
}

.stepContent {
    position: relative;
    width: 700px;
    height: 104px;
    z-index: 0;

    @media (max-width: 1440px) {
        width: 90vw;
    }
    @media (max-width: 1024px) {
        width: 80vw;
        height: auto;
    }
    @media (max-width: 768px) {
        width: 100vw;
        
        height: auto;
    }
    @media (max-width: 375px) {
        width: 98vw;
        
    }
}

.stepLabel {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 434px;
    height: 28px;
}

.stepLabelText {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: $color-text;
}

.stepDescription {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 700px;
    height: 72px;

    @media (max-width: 1440px) {
        width: 90vw;
    }
    @media (max-width: 1024px) {
        width: 80vw;
        height: auto;
    }
    @media (max-width: 768px) {
        width: 100vw;
        height: auto;
        padding: 0 8px;
    }
    @media (max-width: 375px) {
        width: 98vw;
        padding: 0 2px;
    }
}

.stepDescriptionText {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: $font-size-sm;
    line-height: 18px;
    color: $color-text;

    @media (max-width: 1024px) {
        padding-right: 30px;
    }
    @media (max-width: 768px) {
        font-size: 15px;
        line-height: 20px;
        word-break: break-word;
        padding-right: 30px;
    }
    @media (max-width: 375px) {
        font-size: 13px;
        line-height: 17px;
        padding-right: 30px;
    }
}